@import '../../style/theme.scss';
@import '../../style/animation.scss';

:root {
  --vb-button-white: var(--vb-white);
  --vb-button-border-radius: var(--vb-border-radius);

  --vb-button-primary-color: var(--vb-primary-color);
  --vb-button-primary-color-hover: var(--vb-primary-color-hover);

  --vb-button-success-color: var(--vb-success-color);
  --vb-button-success-color-hover: var(--vb-success-color-hover);

  --file-button-warning-color: var(--vb-warning-color);
  --file-button-warning-color-hover: var(--vb-warning-color-hover);

  --file-button-danger-color: var(--vb-danger-color);
  --file-button-danger-color-hover: var(--vb-danger-color-hover);

  --file-button-size-mini: 28px;
  --file-button-size-small: 32px;
  --vb-button-size-large: 44px;
  --file-button-size-default: 36px;
  --file-button-size-mini-padding: 0 16px;
  --file-button-size-small-padding: 0 20px;
  --file-button-size-default-padding: 0 24px;
  --file-button-size-large-padding: 0 32px;
}

.vb-button {
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  user-select: none;
  padding: var(--file-button-size-default-padding);
  height: var(--file-button-size-default);
  line-height: var(--file-button-size-default);
  border: none;
  border-radius: var(--vb-button-border-radius);
  font-size: var(--file-font-size-15);

  .vb-icon {
    color: var(--vb-button-white);
  }
  &__success {
    background: var(--vb-button-success-color);
    color: var(--vb-button-white);
    &:active {
      background: var(--vb-button-success-color-hover);
    }
  }
  &__primary {
    background: var(--vb-button-primary-color);
    color: var(--vb-button-white);
    &:active {
      background: var(--vb-button-primary-color-hover);
    }
  }
  &__warning {
    background: var(--file-button-warning-color);
    color: var(--vb-button-white);
    &:active {
      background: var(--file-button-warning-color-hover);
    }
  }
  &__danger {
    background: var(--file-button-danger-color);
    color: var(--vb-button-white);
    &:active {
      background: var(--file-button-danger-color-hover);
    }
  }

  &__round {
    border-radius: 2em;
  }

  &__ghost {
    &--danger {
      background: var(--vb-button-white);
      border: 1px solid var(--file-button-danger-color);
      color: var(--file-button-danger-color);
      &:active {
        background: var(--vb-danger-color-default);
      }
      .vb-icon {
        color: var(--file-button-danger-color);
      }
    }
    &--warning {
      background: var(--vb-button-white);
      border: 1px solid var(--file-button-warning-color);
      color: var(--file-button-warning-color);
      &:active {
        background: var(--vb-warning-color-default);
      }
      .vb-icon {
        color: var(--file-button-warning-color);
      }
    }
    &--primary {
      background: var(--vb-button-white);
      border: 1px solid var(--vb-button-primary-color);
      color: var(--vb-button-primary-color);
      &:active {
        background: var(--vb-primary-color-default);
      }
      .vb-icon {
        color: var(--vb-button-primary-color);
      }
    }
    &--success {
      background: var(--vb-button-white);
      border: 1px solid var(--vb-button-success-color);
      color: var(--vb-button-success-color);
      &:active {
        background: var(--vb-success-color-default);
      }
      .vb-icon {
        color: var(--vb-button-success-color);
      }
    }
  }

  &__size {
    &--mini {
      font-size: var(--file-font-size-12);
      height: var(--file-button-size-mini);
      line-height: var(--file-button-size-mini);
      padding: var(--file-button-size-mini-padding);
    }
    &--small {
      font-size: var(--file-font-size-14);
      height: var(--file-button-size-small);
      line-height: var(--file-button-size-small);
      padding: var(--file-button-size-small-padding);
    }
    &--large {
      font-size: var(--file-font-size-16);
      height: var(--vb-button-size-large);
      line-height: var(--vb-button-size-large);
      padding: var(--file-button-size-large-padding);
    }
  }

  &__text {
    border: none;
    background: rgba(0, 0, 0, 0);
    padding: 0;
    &--success {
      color: var(--vb-button-success-color);
    }
    &--primary {
      color: var(--vb-button-primary-color);
    }
    &--warning {
      color: var(--vb-button-warning-color);
    }
    &--danger {
      color: var(--vb-button-danger-color);
    }
    &:active {
      background: rgba(0, 0, 0, 0);
    }
  }

  &__block {
    display: block;
    width: 100%;
    font-size: var(--file-font-size-16);
    height: var(--vb-button-size-large);
    line-height: var(--vb-button-size-large);
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 6px;
  }

  &__icon {
    display: inherit;
    vertical-align: middle;
    position: relative;
  }

  &__disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}

button + button {
  margin-left: 10px;
}
