// 主题定制
:root {
  // theme  primary
  --fite-primary-color: #165dff;
  --fite-primary-color-hover: #0e42d2;
  --fite-primary-color-disabled: #bedaff;
  --fite-primary-color-default: #ebf3ff;
  --file-primary-color-1: #94bfff;
  // theme  success
  --fite-success-color: #00b42a;
  --fite-success-color-hover: #009a29;
  --fite-success-color-disabled: #7be188;
  --fite-success-color-default: #e8ffea;
  --file-success-color-1: #aff0b5;
  // theme  warning
  --fite-warning-color: #ff7d00;
  --fite-warning-color-hover: #d25f00;
  --fite-warning-color-disabled: #ffcf8b;
  --fite-warning-color-default: #fff7e8;
  --file-warning-color-1: #ffe4ba;
  // theme  danger
  --fite-danger-color: #f53f3f;
  --fite-danger-color-hover: #cb2634;
  --fite-danger-color-disabled: #fbaca3;
  --fite-danger-color-default: #ffece8;
  --file-danger-color-1: #fdcdc5;

  --fite-white: #ffffff;

  //size
  --file-font-size-9: 9px;
  --file-font-size-10: 10px;
  --file-font-size-11: 11px;
  --file-font-size-12: 12px;
  --file-font-size-14: 14px;
  --file-font-size-15: 15px;
  --file-font-size-16: 16px;
  --file-font-size-17: 17px;
  --file-font-size-18: 18px;
  --file-font-size-20: 20px;
  --file-font-size-24: 24px;
  //border
  --fite-border-radius: 2px;

  //text
  --fite-text-color-1: #ffffff;
  --fite-text-color-2: #c9cdd4;
  --fite-text-color-3: #86909c;
  --fite-text-color-4: #4e5969;
  --fite-text-color-5: #1d2129;

  //line
  --fite-line-color: #e5e6eb;

  //fill
  --file-fill-color-1: #ffffff;
  --file-fill-color-2: #f7f8fa;
  --file-fill-color-3: #f2f3f5;
  --file-fill-color-4: #e5e6eb;
  --file-fill-color-5: #c9cdd4;
}
